<%- include("partials/header.ejs") -%>

    <h1>Home</h1>
    <%= homestart %>
    <% console.log(posts) %>;

    <%  posts.forEach((item) => {%>
        <h1><%=  item.heading  %></h1>
        <p><%= item.description + '...'  %></p>
    <%  }); %>
      



<%- include("partials/footer.ejs") -%>